:root {
  --couleur-template: #eeb868;
  --couleur-template-bg: linear-gradient(45deg, #eeb868, #3498db);
  --couleur-template-bg2: linear-gradient(45deg, #eeb868, #ffe5c4);
  --couleur-template-hover: var(--couleur-template);

  --couleur-primary: #8cc152;
  --couleur-secondary: #6c757d;
  --couleur-danger: #ee3131;
  --couleur-success: #02a602;
  --couleur-warning: #ffc107;
  --couleur-white: #ffffff;
  --couleur-info: #0dcaf0;

  --couleur-texte: #333333;
  --couleur-texte-clair: #ffffff;

  --alert-primary-border: #122200;
  --alert-primary-text: #ffffff;
  --alert-secondary-border: #000000;
  --alert-secondary-text: #ffffff;
  --alert-danger-border: #460700;
  --alert-danger-text: #ffffff;

  --fond-page: #ffffff;
  --fond-entete: #ffffff;
  --fond-sup: #333d4b;
  --fond-recherche: #f8f8f8;
  --fond-accueil: #f0f4f8;
  --fond-footer: #333d4b;
  --fond-footer-bas: #2a2f38;
  --fond-clair: #ffffff;
}

body.mode-sombre {
  --fond-page: #22211f;
  --couleur-template-bg: linear-gradient(45deg, #22211f, #eeb868);
  --couleur-texte: #f0f0f0;
  --fond-clair: #121212;
  --fond-entete: #22211f;
  --fond-accueil: #22211f;
}

body.mode-malvoyant a,
body.mode-malvoyant p,
body.mode-malvoyant button {
  font-size: 1.1em; /* augmente de 25 % */
  line-height: 1.5;
}
